@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
  background:rgb(224, 234, 29);
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-x:hidden;
}

.author{
  text-align:center;
  position:relative;
  top:200px;
}

.BodyParagraph 
{
  font-family: "Helvetica Neue";
  font-size:18px;
  margin-left: 250px;
  margin-right: 250px;
  position:relative;
  text-align:center;
  top:220px;
}


#text{
  text-align:center;
  position:relative;
  top:200px;
  font-size:6em;
}

.text0,.text2{
    color: black;
  -webkit-text-fill-color: #bc0000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text1{
    color: black;
  -webkit-text-fill-color: whitesmoke; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#BackToTop{
  position:relative;
  height:100vh;
  width:100%;
}

#back{
  position:relative;
 padding-top:50%;
  text-align:center;
 font-size:1.5em;
  cursor:pointer;
}

.section {
  display: flex;
  padding: 50px;
  }
  
  .section p {
  flex: 1;
  }
  
  .section svg {
  border: 1px solid rgb(255, 255, 255);
  flex: 2;
  height: 400px;
  margin: 20px;
  }